@using Microsoft.Ajax.Utilities
@model Vidly.Models.Customer
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>
<ul>
    <li>Id: @Model.Id</li>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (Model.BirthDate != null)
        {
            <li>Date of Birth:
                    @Model.BirthDate.Value.ToString("dd MMMM yyyy")
            </li>
        }
    
</ul>